.parcours {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
  transition: all 0.3s ease-in-out;
}

.parcours-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-stretch;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 12px;
}

.parcours-card-link {
  display: flex;
  background-color: var(--card-color);
  transition: all 0.3s ease-in-out;
  border-radius: 12px;
  width: min-content;
  margin: 12px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

.parcours-card-link:hover {
  transform: scale3d(1.05, 1.05, 1.05);
}

@media screen and (max-width: 768px) {
  .parcours {
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
  }

  .parcours-gallery {
    width: 100%;
    margin: auto;
    padding: 0;
    justify-content: center;
  }
}
