#hero {
    background-image: url(/assets/images/montblanc.webp);
    background-repeat: repeat-x;
    background-size: cover;
    background-color: var(--background-color);
    min-height: 60vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    margin-bottom: 2px;
}

#hero h2{
    color: white;
    margin-top: 2rem;
    margin-left: 12rem;
    margin-right: auto;
    font-size: 96px;
    max-width: 40%;
    text-align: left;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
@media  screen and (max-width: 768px) {
    #hero {
        height: auto;
        padding: 1rem;
        background-position: center;
        background-repeat: no-repeat;
    }
    #hero h2{
        margin-top: 1rem;
        font-size: 64px;
        max-width: 90%;
        text-align: center;
        margin: auto;
    }
    
}