#mini-hero {
  background-color: var(--start-background-color);
  height: 10vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  margin-bottom: 2px;
}

h2.mini-hero {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: auto;
  font-size: 48px;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  text-shadow: 2px 2px 4px var(--text-color);
  color: white;
}
p.mini-hero {
  font-size: 1.4rem;
  color: white;
  text-shadow: 1px 1px 2px var(--text-color);
  line-height: 1.5;
  text-align: justify;
  width: 80%;
  margin: 6px auto;
}
.mini-hero ul {
  list-style: circle;
  padding-left: 2rem;
  text-align: left;
}
@media screen and (max-width: 768px) {
  #hero {
    height: auto;
    padding: 1rem;
    background-position: center;
    background-repeat: no-repeat;
  }
  #hero h2 {
    margin-top: 1rem;
  }
}
