.header  {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 24px;
  width:  100%;
}
.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}
.header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
}
.header nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}
.header nav ul li a {
  font-size: larger;
}
.header nav ul li a:hover {
  font-weight: 600;
  transform: translateX(-10px);
}

@media screen and (max-width: 768px) {
  .header{
    flex-direction: column;
  }
  .header h1 {
    text-align: center;
  }
}