
footer section{
    font-weight: 800;
    padding: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}
footer {
    background-color: var(--start-background-color);
    color: var(--snow);
    padding-bottom: 24px;
}
footer hr {
    border-top: 1px solid var(--snow);
    margin: 24px;
}