
footer section{
    font-weight: 800;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer {
    background-color: var(--start-background-color);
    color: white;
    padding-bottom: 1rem;
}
footer hr {
    border-top: 1px solid white;
    margin: 2rem;
}