.home-deux{
    background-color: white;
    margin:8rem auto;
    height: 40rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6px;
    border-radius: 6px;
    background-image: url('/assets/images/hero1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.home-deux article{
    width: 80%;
    max-width: 450px;
    margin: 6rem auto;
    padding: 6px;
    margin: 12px auto 6px auto;
    border-radius: 6px;    
}

.home-deux p {
    font-size: 1.0rem;
    line-height: 1.3;
    text-align: justify;
    width: 80%;
    margin: 6px auto;
}

.home-deux ul {
    list-style: circle;
    padding-left: 18px;
    text-align: left;
}

.home-deux li {
    margin-bottom: 1rem;
}

.home-deux h3 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}
.logo{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: white;
    margin: 6px;
}
@media  screen and (max-width: 768px) {
    .home-deux{
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
        background-image: none;
    }
    .home-deux article{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
}   