.course-card {
  display: flex;
  min-width: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: scaleUp 0.25s ease forwards;
}

.course-card h2 {
  font-size: 24px;
  font-weight: 600;
}
.course-card p {
  font-size: 1.2rem;
  font-weight: 400;
  height: 3em;
  margin-bottom: 6px;
}
.course-card img {
  object-fit: cover;
  width: 100%;
  height: 8em;
  border-radius: 6px 6px 0px 0px;
  box-shadow: 0 4px 4px color-mix(in srgb, var(--shadow-color) 25%, transparent);
}
.course-text {
  display: flex;
  height: 12em;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@keyframes scaleUp {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.caption {
    padding: 6px;
}

.links-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 6px;
  width: 100%;
  margin-bottom: 12px;
}
.button-link {
  padding: 8px;
  border-radius: 6px;
  color: var(--link-fg);
  background-color: var(--link-bg);
  border: 1px solid var(--link-bg);
  transition: all 0.25s ease;
}

.button-link:hover,
.button-link:visited:hover {
  background-color: var(--link-fg);
  color: var(--link-bg);
  border-color: var(--link-fg);
}
