@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_opsz,wght.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Knewave";
  src: url("/fonts/Knewave-Regular.ttf");
  font-weight: bold;
}
.inter-100 {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text-color: rgb(15, 65, 105);
  --background-color: rgb(108, 161, 205);
  --start-background-color: rgb(108, 161, 205);
  --end-background-color: #edf7fa;
  --card-color: rgb(180, 227, 240);
  --card-border-color: #898b97;

  font-family: Poppin, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

body {
  color: var(--text-color);
  display: flex;
  place-items: start;
  justify-content: space-between;
  min-height: 100vh;
}

.gradient {
  background: var(--start-background-color);
  background: linear-gradient(
    180deg,
    var(--start-background-color) 35%,
    var(--end-background-color) 100%
  );
}

a {
  text-decoration: none;
}

a,
a:visited {
  color: var(--text-color);
}

h2 {
  font-size: 2rem;
  margin: 6px 0 12px 0;
}
section {
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  #root {
    min-width: fit-content;
    max-width: 300px;
  }
  body {
    font-size: 1.2rem;
    background: var(--start-background-color);
    background: linear-gradient(
      180deg,
      var(--start-background-color) 35%,
      var(--end-background-color) 100%
    );
  }
}
