.home-login {
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-login input {
    background-color: var(--end-background-color);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border: 1px solid var(--start-background-color);
}
.home-login button {
    background-color: var(--start-background-color);
    color: var(--end-background-color);
    transition: background-color 0.3s ease;
}
.home-login button:hover {
    background-color: var(--end-background-color);
    color: var(--start-background-color);
    transition: background-color 0.3s ease;
}