.home-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 12px;
}
.home-text article{
    width: 80%;
    margin: 12px auto 6px auto;
    padding: 1rem;
    border-radius: 6px;    
}
.home-text p {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
    width: 80%;
    margin: 6px auto;
}

.home-text ul {
    list-style: circle;
    padding-left: 2rem;
    text-align: left;
}

.home-text li {
    margin-bottom: 1rem;
}

.home-text h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

@media  screen and (max-width: 768px) {
    .home-text article{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
}