.home-text{
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 0;
}
.home-text article{
    width: min(40rem, 100%);
    margin: 0 auto;
    padding: 0;
    border-radius: 6px;    
}
.home-text p {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.home-text ul {
    list-style: circle;
    padding-left: 2rem;
    text-align: left;
}

.home-text li {
    margin-bottom: 1rem;
}

.home-text h2 {
    margin: 0 0 12px;
}

.home-text h3 {
    font-size: 1.2rem;
    margin-bottom: 12px;
}

@media  screen and (max-width: 768px) {
    .home-text article{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
}